*{
    margin: o;
    font-family: 'Open Sans', sans-serif;
                padding: o;
}
header{
    background-color: #FFF8F3;
    background-image: url('photo/3.png'),url('photo/2.png');
    background-repeat: no-repeat;
    background-position: right bottom ,left ;
}



 /* nab er kaj */
 nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
 }
 .nav-title{
    font-size: 45px;
    font-weight: 800;
 }
 .text-primary{
    color: orange;
 }

 nav li{
    list-style: none;
    margin-left: 50px;
    
 }
 nav ul{
    display: flex;
    margin-left: 30px;
    align-items: center;
    
 }
 .btn-primary{
    border-radius: 5px;
    width: 150px;
    color: aliceblue;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700px;
    height: 64px;
    border: 0;
 }
        /* banner */

        .banner{
            display: flex;
            align-items: center;
            margin: 0 150px;

        }
        .banner-sub-titile{
            font-size: 45px;
            font-weight: 600;

        }
        .banner-title{
            font-weight: 700;
            font-size: 85;
            color:#181818;
            
        }
        .banner-description{
            font-size: 18px;
            font: 400;
           
        }
        .bn-primary{
            border-radius: 5px;
            width: 150px;
            color: aliceblue;
            background-color:#FD6E0A;
            font-size: 20px;
            font-weight: 700px;
            height: 64px;
            border: 0;
            margin-top: 20px;
         }
         .bt-primary{
            color: #FD6E0A;
            font-size: 20px;
            width: 160px;
            height: 64px;
            border-radius: 5px;
            padding: 10px 18px;
     
            border:1px solid #FD6E0A;
         }
         .main{
            width: 1140px;
            margin: 0 auto;

         }
         .about{
          border-radius: 10px;
          margin-top: 130px;
          background-color: #FFF8F3;
          padding: 130px 150px;
        }
         .section-title{
             text-align: center;
             margin-bottom: 30px;
             font-size: 35px;
             font-weight: 700;
            }

         .section-description{
             color: #757575;
              font-size: 18px;
              margin: 30px;
            }

        